
:root {
  --background-color: #f9f8eb;
  --third-color: #ffe1b6;
  --light-branding-color: #7a9eb1;
  --branding-color: #415865;
  --box-shadow: rgba(37, 39, 89, 0.08) 8px 8px 8px;
  --primary-font: font-family: 'Playfair Display', serif;
  --secondary-font:font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}
body {
  background: var(--background-color);
}
h1,h2 {
  color: var(--branding-color);
}
h1{
font-size: 61px;
margin: 0;
}
h2{font-size: 31px;
    margin: 0 !important;
    font-family: var(--primary-font);
}
h3 {
  color: var(--light-branding-color);
  margin: 0 !important;
  font-size: 21px;
}
p {
  color: var(--light-branding-color);
  line-height: 1.7;
}
nav {
    background-color: var(--light-branding-color);
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--branding-color);
    box-shadow: var(--box-shadow);
}
h3 a{
    text-decoration: none;
    color: var(--branding-color);
}
h3 a:hover{
    color: var(--light-branding-color);
}
.nav-link:hover{
font-size: 17px;
color: var(--third-color) !important;
}
.header {
  background-color: var(--third-color);
  box-shadow: var(--box-shadow);
  margin-top: 80px;
}
.program-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.icons {
  margin: 7px;
  color: var(--branding-color);
  opacity: 0.67;
}
.austin-selfie {
  max-width: 80%;
  margin: 20px 0;
}
.weather-app-image{
  height: 350px;
}
.project-content h2{
    line-height: 2;
    text-shadow: 1px 1px 2px var(--light-branding-color);
}
.btn-primary{
    background-color: var(--light-branding-color);
    border-color: var(--light-branding-color);
    font-family: var(--primary-font);
    box-shadow: var(--box-shadow);
}
.btn-container{
    text-align: center;
}
.btn-primary:hover{
    background-color: var(--branding-color);
    border-color: var(--branding-color);
}
.project-trans-content img{
    max-height: 80%;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.footer-links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.home-footer-btn{
    margin: 0 80px;
}
.about-header{
    margin-top: 90px !important;
}
.about-wrapper{
display: block;
}
 .about-header h1{
     font-size: 80px;

 }
 .about-h2{
     color: var(--light-branding-color);
     font-family: var(--primary-font);
     font-weight: 650;
     font-size: 21px;
 }
 .about-content{
     margin: 0px 0px 0px 70px;
     
 }
 .about-text{
     background-color: var(--third-color);
     padding: 20px;
     box-shadow: var(--box-shadow);
     margin-top: 0;
     margin-left: 130px;
     
 }
 .about-image{
     max-width: 70%;
     margin: 0px 0px 0px 10px;
     box-shadow: var(--box-shadow);
 }
.about-footer-links{
     display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
.ab-footer-btn{
margin:40px 100px 0;
}
.trans-site-snap{
    width: 75%;
    margin-top: 40px;
    max-height: 63%;
    box-shadow: var(--box-shadow);
    border-radius: 30px !important;
}
.project-container{
    text-align: center;
    margin-left: 30px;
}
.projects-h2{
    font-size: 35px;
    line-height: 2;
    font-weight: bold;
    color: var(--branding-color);
    text-shadow: var(--box-shadow);
}
.project-wrapper{
    background-color: var(--third-color);
    margin: 25px 25px 25px 0;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.contact-link{
    color: var(--light-branding-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    
}
.contact-links-list{
    color: var(--branding-color);
    
}
.list-element{
    margin-top: 40px;
    list-style: none;
}
.contact-links-list a{
    text-decoration: none;
}
.contact-links-list a:hover{
    color: var(--branding-color);
    font-size: 25px;
}
.contacts-page h1{
    font-size: 80px;
}
.contacts-page h3{
    color: var(--branding-color);
    font-size: 40px;
}
.contacts-page div{
    background-color: var(--third-color);
}

@media (max-width:990px){
    .image-container{
        display: none
    }
    
    h1{
        font-size: 30px;
        line-height: 1.2;
    }
    h2{
        font-size:15px;
    }
    h3{
        font-size: 10px;
    }
    .btn-container{
        margin-top: 0;
        margin-bottom: 15px;
    }
    .btn-primary{
        font-size:8px;
        margin-top: 0;
    }
    .project-text-content{
    line-height: 0;
    margin-bottom: 0;}
    
    .project-image-content{
    margin: 0;
    }
    .home-footer-btn{
        margin: 6px;
    }
    .about-wrapper{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .about-header h1{
        font-size: 34px !important;
        
    }
    .about-div{
        margin-left:0 !important; 
        margin-top: 0 !important;
    }
    .about-h2{
        font-size: 11px !important;
        margin-top: 0;
    }
    .footer-links{
     display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
    .ab-footer-btn{
        padding: 6px;
        margin: 0 15px;
    }
    .about-content{
     margin: 0px 0px !important;
     padding: 0px !important;
    }
    .about-text{
        padding: 0px !important;
        margin-left: 0px;
        margin-right: 0px;
    }
    .inner-about-container{
    padding: 0px;
    margin: 0 !important;
}
.projects-h2{
    font-size: 23px;
    line-height: 1;
    margin-top: 0;
    font-weight:medium ;
}
.project-container{
    display: inline;
}
.projects-div{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.projects-h2{
    margin-bottom: 0px !important;
}
.contacts-page h1{
    font-size: 55px;
    margin-bottom: 0;
}
.contacts-page h3{
    font-size: 25px;
    margin-top: 25px !important;

}
.project-wrapper{
 margin-top: 20px!important;  
 margin-left:0 !important;
}
.projects-links{
    margin-top: 0 !important;
}
}